{% extends "otree_redwood/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Choice
{% endblock %}

{% block scripts %}
    <script src="{% static 'bimatrix/highcharts.js' %}"></script>

    <script type="module" src="{% static 'bimatrix/leeps-bimatrix/leeps-bimatrix.js' %}"></script>
{% endblock %}

{% block content %}
    <leeps-bimatrix
        initial-decision='{{ player.initial_decision }}'
        payoff-matrix='{{ player.subsession.payoff_matrix }}'
        period-length='{{ player.group.period_length }}'
        rate-limit='{{ player.subsession.slider_rate_limit }}'
        {% if player.group.mean_matching %}
        mean-matching
        {% endif %}
        {% if player.group.num_subperiods %}
        num-subperiods='{{ player.group.num_subperiods }}'
        {% endif %}
        {% if player.subsession.pure_strategy %}
        pure-strategy
        {% endif %}
        {% if player.subsession.show_at_worst %}
        show-at-worst
        {% endif %}
        {% if player.subsession.show_best_response %}
        show-best-response
        {% endif %}
    ></leeps-bimatrix>

{% endblock %}
