{% extends "otree_redwood/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Choice
{% endblock %}

{% block scripts %}
    <script src="{% static 'correlated_equilibrium/highcharts.js' %}"></script>

    <script type="module" src="{% static 'correlated_equilibrium/leeps-bimatrix/leeps-bimatrix.js' %}"></script>
{% endblock %}

{% block content %}
    {% with config=subsession.config %}
        <leeps-bimatrix
            initial-decision='{{ player.initial_decision }}'
            payoff-matrix='{{ player.subsession.payoff_matrix }}'
            original-payoff-matrix='{{ player.subsession.payoff_matrix }}'
            period-length='{{ config.period_length }}'
            rate-limit='{{ group.rate_limit }}'
            num-players='{{ player.num_players }}'
            {% if config.max_info %}
            max-info
            {% endif %}
            {% if config.mean_matching %}
            mean-matching
            {% endif %}
            {% if config.num_subperiods %}
                num-subperiods='{{ config.num_subperiods }}'
            {% endif %}
            {% if player.subsession.is_multi_dim %}
            is-multi-dim
            {% endif %}
            

        ></leeps-bimatrix>
    {% endwith %}

{% endblock %}
